/* :root {
  --background: linear-gradient(135deg, #f9fafb 0%, #f1f5f9 100%);
  --surface: #fff;
  --button1: linear-gradient(135deg, #5e96f1 0%, #4277e8 100%);
  --button2: linear-gradient(135deg, #6ee7b7 0%, #19b27adf 100%);

  --accent: #c7d2fe83;
  --text-main: white;
  --text-inverse: #fff;
  --border: #e5e7eb;
} */



:root {
  --background: white;
  --surface: white;
  --button1: linear-gradient(135deg, #5e96f1 0%, #4277e8 100%);
  --button2: linear-gradient(135deg, #6ee7b7 0%, #19b27adf 100%);

  --accent: #5e96f1;
  --text-main: white;
  --text-inverse: white;
  --border1: gray;
  --border2: gray;

}